dist: trusty
sudo: required
language: c

addons:
  apt:
    sources:
    # add PPAs with more up-to-date toolchains
    - ubuntu-toolchain-r-test
    packages:
    # install toolchains
    - gcc-5
    - g++-5

before_install:
  - sudo apt-get update -qq
  - sudo apt-get -y install build-essential
  - sudo apt-get -y install libncurses-dev cmake clang g++ wget git libssl-dev
  - sudo apt-get -y install bc nano patch mosquitto
  - sudo apt-get -y install libelf-dev sparse flawfinder
  - sudo apt-get -y install libedit-dev

before_script:
  - make prepare_kernel
  - make patch
  - make config_travis

script:
  - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
  - gcc --version
  - make compile
  - make config_travis_off
  - make compile
  - make test_patch

after_success:
  - make prepare_release_travis

deploy:
  provider: releases
  api_key: "$GITHUB_KEY"
  file:
    - patch
  skip_cleanup: true
  on:
    tags: true

notifications:
  slack: camflow:T3Umf9cAIwKnaxFEkjeZV7RM
