version: 2.1
jobs:
  checkout:
    machine:
      image: ubuntu-1604:202007-01
    working_directory: ~/build
    steps:
      - checkout
      - restore_cache:
         keys:
           - build-machine-1-{{ checksum "Makefile" }}
      - run:
          name: 'Prepare build environment...'
          command: |
            if [ -d "linux-stable" ]; then
              echo 'Build environment was cached.'
            else
              echo 'Build environment was not cached.'
              sudo apt-get update -qq
              sudo apt-get install -y apt-utils
              sudo apt-get install -y sudo
              sudo apt-get install -y git
              git config --global user.email $GH_EMAIL
              git config --global user.name $GH_NAME
              make prepare_kernel
              make patch
            fi
            ls
      - save_cache:
          key: build-machine-{{ checksum "Makefile" }}
          paths:
            - linux-stable
            - pristine
            - patches
      - persist_to_workspace:
          root: .
          paths:
            - linux-stable
            - pristine
            - patches
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - checkout
